$navItemHoverBackground: #1488CC15;
// $navItemHoverBackground: #00000009;

.lnav {
    // position: sticky;
    background-color: transparent;
}

.lnav-item {
    transition: .2s;
    border-radius: 13px;
    font-size: 1rem;
    cursor: pointer;
}

.lnav-item:hover {
    background-color: $navItemHoverBackground;
}

.lnav-item-active {
    // background-color: 
}