// $alertBackground: #1488CCff;
$alert-background: #000000bf;
// $alert-background: #007bffee!important;
$alert-color: white;
$alert-font-size: 1rem;

.notif-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: -10rem;
    left: 0;
    padding: 0 2rem;
    transition: 1s;
}

.notif {
    background-color: $alert-background;
    padding: .25rem .25rem .25rem 1.25rem;
    border-radius: 23px;
    font-size: $alert-font-size;
    line-height: $alert-font-size;
    color: $alert-color;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.notif-content {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    padding-right: 0.25rem;
}

.notif-animation {
    animation-name: alert-show-hide;
    animation-duration: 2.5s;
    // animation-timing-function: ease-in-out;
    animation-timing-function: ease;
    // -webkit-transition-duration: 2.5s;
    // -webkit-timing-function: ease-in;
}

.notif-hide {
    animation-name: alert-hide;
    animation-duration: 0.5s;
}

@keyframes alert-show-hide {
    0% {
        bottom: -10rem;
    }

    20% {
        bottom: 1rem;
    }

    80% {
        bottom: 1rem;
    }

    100% {
        bottom: -10rem;
    }
}

@keyframes alert-hide {
    0% {
        bottom: 1rem;
    }

    100% {
        bottom: -10rem;
    }
}