$btn-cirlce-light-color: #ffffffdd!important;
$btn-cirlce-light-background: #ffffff30!important;

// $btn-cirlce-dark-color: #00000055!important;
// $btn-cirlce-dark-background: #00000010!important;

$btn-cirlce-dark-color: #00000033!important;
$btn-cirlce-dark-background: #00000010!important;

// $field-background: #f0f0f0;
$field-background: #00000009;
// $field-background: #ededed;


$btn-circle-size-sm: 1.8rem;


.btn-circle {
    box-sizing: border-box;
    font-size: 1.1rem;
    color: $btn-cirlce-dark-color;//#00000055;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    background-color: #00000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
}

.btn-circle-sm {
    width: $btn-circle-size-sm;
    height: $btn-circle-size-sm;
    line-height: $btn-circle-size-sm;
    font-size: $btn-circle-size-sm - .8rem;
}

.btn-circle:focus {
    border: none;
    border-radius: 50%;
    outline: none;
}

.btn-circle:hover {
    background-color: $btn-cirlce-dark-background;
}

.btn-circle-light {
    color: $btn-cirlce-light-color;
}

.btn-circle-light:hover {
    background-color: $btn-cirlce-light-background;
}

.ufield {
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.1rem;
    border-radius: 25px;
    background-color: $field-background;
    color: #000000c0;
    padding: .25rem .25rem .25rem .25rem;
    display: flex;
    align-items: center;
    margin: 0.25rem auto;
    box-shadow: 1px 1px 1px #00000020;
    // border: 1px solid #00000009;
}

.ufield-link {
    padding-left: .25rem;
}

.ufield-icon {
    font-size: 2.3rem;
    // color: $btn-cirlce-dark-color;//#00000055;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    // background-color: #00000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
}

.ufield-box {
    width: 60%;
    max-width: 21rem;
    min-width: 19rem;
}

.ufield-text {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ufield-text-bull {
    font-size: .75rem;
    line-height: .75rem;
    letter-spacing: .11rem;
}

.textarea {
    border-radius: 7px;
    border-color: #00000020;
    font-size: 1rem;
    padding: .5rem;
    margin: .25rem;
    box-shadow: 3px 3px 3px #00000022;
    display: block;
    width: 100%;
}

.textarea:focus {
    outline: none;
}