$menu-transition: .4s;
$menu-width: 250px;

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.menu {
    top: 0;
    position: fixed;
    width: $menu-width;
    height: 100vh;
    animation-duration: $menu-transition;
}

.menu-active {
    left: 0;
    animation-name: menu-active;
}

.menu-inactive {
    left: -$menu-width;
    animation-name: menu-inactive;
}

.menu-item {
    margin: 0;
    color: #f8f9fa!important;
    cursor: pointer;
    transition: .2s;
    white-space: nowrap;
    
}

.menu-item:hover {
    background-color: #00000055;
    text-decoration: none!important;
}

.pointer {
    cursor: pointer;
}

.bg-darker {
    background-color: #00000055;
}

@keyframes menu-active {
    from {left: -$menu-width}
    to {left: 0px}
}

@keyframes menu-inactive {
    from {left: 0px}
    to {left: -$menu-width}
}