$field-background-color: #00000020;
$field-background-color: #1488CC19;


$field-border: 1px solid $field-background-color;

$field-text-color: #000000;
$field-height: 3rem;

.field {
    display: flex;
    background-color: $field-background-color;
    border-radius: 1.5rem;
    padding: .25rem;
    font-size: 1rem;
    border: $field-border;
    margin-top: .25rem;
}

.field-md {
    // font-size: 1rem;
}

.field-text {
    display: flex;
    align-items: center;
    color: $field-text-color;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    margin-left: .75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.field-opts {
    display: flex;
}

.field-opt {

}