@import '../../base';

$drp-left-width: 300px;
$drp-left-item-width: 2.3rem;
$drp-left-item-space: .25rem;
$drp-left-animation-duration: .4s;

.drp-left {
    position: relative;
}

.drp-left-btn {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $drp-left-item-width;
    height: $drp-left-item-width;
    font-size: $drp-left-item-width - 1.2rem;
    line-height: $drp-left-item-width - 1.2rem;
    border-radius: 50%;
    background-color: #00000030;
    color: white;
    // cursor: pointer;
}

.drp-left-btn-light {
    background-color: $cl-white-light;
    color: #00000060;
}

.drp-left-btn-active {
    background-color: $cl-blue;
    color: white;
}

.drp-left-menu {
    z-index: 98;
    top: 0;
    right: 0;
    height: $drp-left-item-width;
    position: absolute;
    align-items: center;
    animation-duration: $drp-left-animation-duration;
    display: flex;
}

.drp-left-menu-show {
    width: $drp-left-width;
    animation-name: drp-left-menu-appear;
    opacity: 1;
    visibility: visible;
    right: $drp-left-item-width + $drp-left-item-space;
}

.drp-left-menu-hide {
    right: 0px;
    width: 200px;
    opacity: 0;
    animation-name: drp-left-menu-disappear;
    visibility: hidden;
}

@keyframes drp-left-menu-appear {
    0% {
        width: 0px;
        opacity: 0;
        display: none;
        visibility: hidden;
        right: 0;
    }
    50% {
        opacity: 1;
        display: flex;
        visibility: visible;
        width: $drp-left-width;
    }
    to {
        opacity: 1;
        display: flex;
        visibility: visible;
        width: $drp-left-width;
        right: $drp-left-item-width + $drp-left-item-space;
    }
}

@keyframes drp-left-menu-disappear {
    0% {
        opacity: 1;
        visibility: visible;
        width: $drp-left-width;
        right: $drp-left-item-width + $drp-left-item-space;
    }
    50% {
        opacity: 1;
        display: flex;
        visibility: visible;
    }
    100% {
        width: 0px;
        opacity: 0;
        visibility: hidden;
        right: 0;
    }
}

.drp-left-item {
    position: absolute;
    animation-duration: $drp-left-animation-duration;
    margin-right: $drp-left-item-space;
}

.drp-left-item-1-show {
    right: 0*($drp-left-item-width + $drp-left-item-space);
    animation-name: drp-left-item-1-appear;
}

.drp-left-item-1-hide {
    right: 0px;
    animation-name: drp-left-item-1-appear-disappear;
}

@keyframes drp-left-item-1-appear {
    from {
        right: 0px;
    }
    to {
        right: 0*($drp-left-item-width + $drp-left-item-space);
    }
}

@keyframes drp-left-item-1-disappear {
    from {
        right: 0*($drp-left-item-width + $drp-left-item-space);
    }
    to {
        right: 0px;
    }
}

.drp-left-item-2-show {
    right: 1*($drp-left-item-width + $drp-left-item-space);
    animation-name: drp-left-item-2-appear;
}

.drp-left-item-2-hide {
    right: 0px;
    animation-name: drp-left-item-2-disappear;
}

@keyframes drp-left-item-2-appear {
    from {
        right: 0px;
    }
    to {
        right: 1*($drp-left-item-width + $drp-left-item-space);
    }
}

@keyframes drp-left-item-2-disappear {
    from {
        right: 1*($drp-left-item-width + $drp-left-item-space);
    }
    to {
        right: 0px;
    }
}

.drp-left-item-3-show {
    right: 2*($drp-left-item-width + $drp-left-item-space);
    animation-name: drp-left-item-3-appear;
}

.drp-left-item-3-hide {
    right: 0px;
    animation-name: drp-left-item-3-disappear;
}

@keyframes drp-left-item-3-appear {
    from {
        right: 0px
    }
    to {
        right: 2*($drp-left-item-width + $drp-left-item-space);
    }
}

@keyframes drp-left-item-3-disappear {
    from {
        right: 2*($drp-left-item-width + $drp-left-item-space);
    }
    to {
        right: 0px;
    }
}

.drp-left-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $drp-left-item-width;
    height: $drp-left-item-width;
    font-size: $drp-left-item-width - 1.2rem;
    line-height: $drp-left-item-width - 1.2rem;
    border-radius: 50%;
    background-color: #000000;
}


