.navbar-search-input {
    width: 50vw;
    max-width: 250px;
    min-width: 100px;
    border: none;
    border-radius: 15px;
    padding: .3rem 2.2rem .3rem .9rem;
    background-color: #ffffff44;
    transition: .3s;
    color: white;
}

.navbar-search-input::placeholder {
    color: #ffffffaa;
    opacity: 1; /* Firefox */
}

.navbar-search-input:focus {
    border: none;
    border-radius: 15px;
    outline: none;
}

.navbar-search-icon {
    cursor: pointer;
    transition: .3s;
    right: 15px;
    color: #ffffffaa;
}

.navbar-search-icon:hover {
    color: #ffffff;
}


.drpdown {
    position: relative;
}

.drp-hide {
    opacity: 0;
    visibility: hidden;
}

.drp-show {
    opacity: 1;
    visibility: visible;
}

.drpdown-menu {
    margin-top: .25rem;
    padding: .25rem;
    // background-color: #000000;
    // box-shadow: 0px 0px 250px #000000;
    position: absolute;
    overflow: auto;
    z-index: 99;
    animation-duration: .5s;
    width: 200px;
    height: 200px;
}

.drp-menu-item {
    color: black;
    position: absolute;
    top: 50px;
    // width: 200px;
    // height: 100px;
    margin: .25rem 0;
    // animation-name: drp-btn-appear;
    animation-duration: 1s;
}

.drp-btn {
    display: flex;
    align-items: center;
    animation-duration: 1s;
}

.drp-btn-show {
    animation-name: drp-btn-appear;
}

.drp-btn-hide {
    
}

.drp-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 1.2rem;
    font-size: 1.2rem;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.drp-btn-text {
    color: black;
    margin-left: .5rem;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.drp-btn-absolute {
    position: absolute;
}

@keyframes drp-btn-appear {
    from {
        top: 0px;
        // position: absolute;
        // background-color: #000000;
    }
    to {
        top: 100px;
        // position: static;
        // background-color: #00000000;
    }
}

@keyframes drp-appear {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}