$btn-cirlce-light-color: #ffffffdd!important;
$btn-cirlce-light-background: #ffffff30!important;

// $btn-cirlce-dark-color: #00000055!important;
// $btn-cirlce-dark-background: #00000010!important;

$btn-cirlce-dark-color: #00000033!important;
$btn-cirlce-dark-background: #00000010!important;

// $field-background: #f0f0f0;
$field-background: #00000009;
// $field-background: #ededed;


$btn-circle-size-sm: 1.8rem;


.button-circle {
    box-sizing: border-box;
    font-size: 1.1rem;
    color: $btn-cirlce-dark-color;//#00000055;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    background-color: #00000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
}

.button-circle-sm {
    width: $btn-circle-size-sm;
    height: $btn-circle-size-sm;
    line-height: $btn-circle-size-sm;
    font-size: $btn-circle-size-sm - .8rem;
}

.button-circle:focus {
    border: none;
    border-radius: 50%;
    outline: none;
}

.button-circle:hover {
    background-color: $btn-cirlce-dark-background;
}

.button-circle-light {
    color: $btn-cirlce-light-color;
}

.button-circle-light:hover {
    background-color: $btn-cirlce-light-background;
}
