// $card-background-color: #00000009;//white;//#1488CC25;
$card-background-color: #1488CC15;
$card-text-color: black;
$card-border: none;
$card-shadow:  none;
$card-icon-color: #1488CCaa;
$card-background-color: #ffffffdd;
$card-background-color: #ffffff;

// $card-background-color: #ffffffaa;
// $card-background-color: #FE7C00ee;
$card-border: 1px solid #00000015;
$card-shadow:  1px 1px 1px #00000011;

$card-icon-color: #1488CC;




._card {
    background-color: $card-background-color;
    border-radius: 13px;
    margin-bottom: 1rem;
    border: $card-border;
    box-shadow: $card-shadow;
    color: $card-text-color;
}

._card-blue {
    background-color: #1488CC19;
    border-radius: 1.5rem;
}


._card-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
}

._card-header-simple {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .75rem;
}

._card-header-simple-icon {
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-right: .75rem;
    color: $card-icon-color;
    line-height: 1.5rem;
}

._card-header-simple-title {
    line-height: 1.1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

._card-header-icon {
    box-sizing: border-box;
    font-size: 3rem;
    margin-right: .5rem;
    color: lightblue;
    line-height: 3rem;
}

._card-header-img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

._card-header-content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

._card-header-content-title {
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.5rem;
}

._card-header-content-info {
    font-size: .8rem;
    color: #000000bb;
    line-height: 1.4;
    margin-left: .1rem;
}

._card-header-opts {
    display: flex;
    flex-flow: row;
    align-items: center;
}

._card-header-opts-opt {
    font-size: 1.1rem;
    color: #00000055;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    background-color: #00000000;
}

._card-header-opts-opt:focus {
    border: none;
    border-radius: 15px;
    outline: none;
}

._card-header-opts-opt:hover {
    background-color: #00000010;
}

._card-body {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

._card-footer {
    // margin-top: 1rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

._card-hashtag {
    background-color: #1488CC15;
    color: #00000090;
    border-radius: 1rem;
    font-size: .8rem;
    line-height: .8rem;
    padding: .2rem .45rem;
    cursor: pointer;
    margin: .125rem;
    transition: .2s;
    display: inline-block;
}

._card-hashtag:hover {
    background-color: #1488CC25;
    color: #000000bb;
}

.ufield {
    font-size: 1.1rem;
    line-height: 1.1rem;
    border-radius: 25px;
    background-color: #00000009;
    color: #000000c0;
    padding: .25rem .25rem .25rem 1.25rem;
    display: flex;
    align-items: center;
    margin: 0.25rem auto;
}

.ufield:hover {
    // color: #000000;
}

.ufield-box {
    width: 60%;
    max-width: 21rem;
    min-width: 19rem;
}

.ufield-text {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    
}

.ufield-text-bull {
    font-size: .75rem;
    line-height: .75rem;
    letter-spacing: .11rem;
}