// a49e8d-504136-689689-b2e6d4-83e8ba    ->    e4e1d1-251410-689689-b2e6d4-83e8ba
// 61e294-7bcdba-9799ca-bd93d8-b47aea
// c9cad9-d1d2f9-a3bcf9-7796cb-576490


// grey   ->   ebf5f4-e4edec-ededed-e3e3e3-83e8ba


$body-background-color: #f2f2f2;
$body-text-color: #251410;


$cl-grey-light: #00000020;
$cl-white-light: #ffffff44;
$cl-blue-light: #1488CC15;
$cl-blue: #007bff!important;


html, body {
    background-color: $body-background-color;
    color: $body-text-color;
}

a {
    text-decoration: none!important;
}

.page {
    margin-top: 1rem;
}

.cover {
    position: fixed; // absolute
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // background-color: #00000066;
    background-color: #000000bb;
    transition: .3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content {
    width: 50vw;
}

.cover-active {
    visibility: visible;
    opacity: 1;
    animation-name: menu-cover-active;
}

.cover-inactive {
    visibility: hidden;
    opacity: 0;
    animation-name: menu-cover-inactive;
}

@keyframes menu-cover-inactive {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes menu-cover-active {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}