.button-xl-wrapper {
    display: flex;
    justify-content: center;
}

.button-xl {
    display: flex;
    border: 1px solid #1488CC15;
    color: #1488CCee;
    box-shadow: 1px 1px 1px #1488CC15;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 9rem;
    font-size: 1.2rem;
    background-color: #1488CC15;
    cursor: pointer;
    line-height: 1.2rem;
    transition: .2s;
}

.button-xl:hover {
    background-color: #1488CC20;
}

.button-xl-icon {
    color: #1488CC88;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-right: .7rem;
}

.bg-blue {
    background-color: #1488CC19;
    // background-color: #1488CC;
    // background-color: white;
}

.box {
    border-radius: 10px;
    background-color: #1488CC19;
    padding: 1rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
}

.box-header {
    box-sizing: border-box;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}